{% extends "core/base.html" %}
{% block content %}
<div class="content-container">
    <div class="row">
        <div class="col-8">
            {% include 'time_accounting/calendar/calendar.html' %}
        </div>
        <div class="col-4 justify-content-center">
            <div>
                <a href="{% url 'time-calendar-create' %}" class="button w-100">Ny tidrapport</a>
                {% include 'time_accounting/calendar/work_report_list_data.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock  %}