<div id="calendar" class="">
    <div id="calendarHeader" class="border-bottom row" style="font-size: 14pt;">
        <div class="col text-center p-2 pl-5 pr-5">
            <a class="float-left"  href="{% url 'time-calendar-overview' previous_month %}">Föregående {{ previous_name }}</a>
            {{ current_date.year }} {{ month_name }}
            <a class="float-right" href="{% url 'time-calendar-overview' next_month %}">Nästa {{ next_name }}</a>
        </div>
    </div>
    <div class="row">
        <div class="col border-right border-left pt-1 pb-1">Måndag</div>
        <div class="col border-right border-left pt-1 pb-1">Tisdag</div>
        <div class="col border-right border-left pt-1 pb-1">Onsdag</div>
        <div class="col border-right border-left pt-1 pb-1">Torsdag</div>
        <div class="col border-right border-left pt-1 pb-1">Fredag</div>
        <div class="col border-right border-left pt-1 pb-1">Lördag</div>
        <div class="col border-right border-left pt-1 pb-1">Söndag</div>
    </div>
    {% for week_row in week_rows %}
    <div class="row">
        {% for date in week_row %}
            {% if date.current_month == True %}
                <div class="col border" style="height: 90px" onclick="location.href={% url 'time-calendar-overview' %};" style="cursor:pointer;">{{ date.date.day }}</div>
            {% else %}
                <div class="col border border-dark" style="height: 90px; background-color: LightGray">{{ date.date }}</div>
            {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</div>