{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-container border">
    <label class="content-header-label">Företag - {{ object.title }}</label>
    <a class="button float-right" href="{% url 'company-profile-update' %}">Ändra</a>
    <div class="border-top mt-3 mb-3"></div>
    <div class="row">
        <div class="col">
            {% include 'company/data_table.html' %}
        </div>
        <div class="col">
            {% include 'company/employee_table.html' with header="Anställd" %}
            <div class="border-top mt-3 mb-3"></div>
            {% include 'company/project_state_table.html' with header="Projekt stadie" %}
        </div>
    </div>
</div>
{% endblock content %}