{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'core/data_table.css' %}">


<a class="button float-right" href="{% url 'company-profile-update' %}">Ändra</a>

<table class="mb-4 d-block">
    <tr class="table-row">
        <td class="td-label p-2">Valuta</td>
        <td class="td-value p-2">{{ company.currency }}</td>
    </tr>
    <tr class="table-row">
        <td class="td-label p-2">Kostnad per arbetstimma</td>
        <td class="td-value p-2">{{ company.cost_per_work_hour }}</td>
    </tr>
    <tr class="table-row">
        <td class="td-label p-2">Gick med</td>
        <td class="td-value p-2">{{ company.created }}</td>
    </tr>
</table>