{% load static %}
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'core/main.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    {% if title %}
    <title>Core System * - {{ title }}</title>
    {% else %}
    <title>Core System *</title>
    {% endif %}
</head>

<style>
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
</style>

<body>
<nav id="navBarMenu" class="navbar navbar-expand-md navbar-dark fixed-top border-bottom" style="background-color: #e3f2fd">
    <span class="navbar-brand text-dark" href="{% url 'project-overview' %}">Core</span>
    <div style="position: absolute; left: 150px; width: 80%;">
        <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                <a class="nav-item link-header" href="{% url 'core-home' %}">Hem</a>
                <div class="dropdown no-select">
                    <a class="nav-item link-header">Projekt</a>
                    <div class="dropdown-content">
                        <a class="nav-item link-header" href="{% url 'project-overview' %}">Översikt</a>
                        <a class="nav-item link-header" href="{% url 'project-board' %}">Bräda</a>
                    </div>
                </div>
                <a class="nav-item link-header" href="{% url 'product-overview' %}">Produkter</a>
                <a class="nav-item link-header" href="{% url 'material-overview' %}">Material</a>
                <a class="nav-item link-header" href="{% url 'customer-overview' %}">Kunder</a>

                <div class="dropdown no-select">
                    <a class="nav-item link-header">Tid</a>
                    <div class="dropdown-content">
                        <a class="nav-item link-header" href="{% url 'time-overview' %}">Tidrapport</a>
                        <a class="nav-item link-header" href="{% url 'time-calendar-overview' %}">Kalender</a>
                    </div>
                </div>


                {% endif %}
            </div>
            <div class="navbar-nav">
                {% if user.is_authenticated %}
                    {% if user.first_name %}
                        <a class="nav-item link-header" href="{% url 'profile' %}">{{ user.first_name }} {{ user.last_name}}</a>
                    {% else %}
                        <a class="nav-item link-header" href="{% url 'profile' %}">Användare</a>
                    {% endif %}
                <a class="nav-item link-header" href="{% url 'company-profile' %}">Företag</a>
                <a class="nav-item link-header" href="{% url 'logout' %}">Logga ut</a>
                {% else %}
                <a class="nav-item link-header" href="{% url 'login' %}">Logga in</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

<main role="main" class="">
    {% if messages %}
    {% for message in messages %}
    <script>
        function hide()
        {
            $('.alert').hide();
        }
    </script>
    <div class="alert alert-{{ message.tags }}" style="margin-left: 10%; margin-right: 10%;">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" onclick="hide()">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% block content %}{% endblock %}
</main>
</body>
</html>