{% extends "core/base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="content-section">
                <h1>Ditt företag {{ user_profile.company.title }}</h1>
                <div class="border-top mt-3 mb-3"></div>

                <h4>Användare</h4>
                {% for profile in company_users %}
                    <h5>{{ profile.user.first_name }} {{ profile.user.last_name }}</h5>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm">
            <div class="content-section">
                <h1>Senaste händelser</h1>
                <ul class="list-group" style="height:600px; overflow-y: scroll;">
                    {% for event in events %}
                        <li class="list-group-item">{{ event }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}