{% extends "core/base.html" %}
{% block content %}
<div class="container">
    <div class="row h-75">
        <div class="col-4">
            <div class="content-section h-100">
                <h1>{{ user_profile.company.title }}</h1>
                <div class="border-top mt-1 mb-1"></div>
                <h3>Användare</h3>
                {% for profile in company_users %}
                    <h6>{{ profile.user.first_name }} {{ profile.user.last_name }}</h6>
                {% endfor %}
            </div>
        </div>
        <div class="col-8">
            <div class="content-section h-100">
                {% include 'core/latest_events_table.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}