{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <h1 class="d-inline">Kontakt person - skapa</h1>
    <a class="nav-item nav-link float-right" href="{% url 'customer-detail' view.kwargs.customer_id %}">Tillbaka</a>
    <div class="border-top mt-3 mb-3"></div>
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <h1> {{ customer.id }}</h1>
            <button class="btn btn-outline-info" type="submit">Skapa</button>
        </div>
    </form>

</div>
{% endblock  %}