{% extends "core/base.html" %}
{% block content %}
<article class="media content-section p-4">
    <div class="media-body">
        <div class="article-metadata p-3">
            <h3 class="article-title d-inline">{{ object.title }}</h3>
            <a class="float-right p-1" href="{% url 'customer-overview' %}" style="font-size: 14pt">Tillbaka</a>
            <a class="float-right p-1" href="{% url 'customer-update' object.id %}" style="font-size: 14pt">Ändra</a>
            <a class="float-right p-1" href="{% url 'customer-delete' object.id %}" style="font-size: 14pt">Ta bort</a>
        </div>

        <div class="p-3">
            <label class="d-block mb-3">Skapad av - {{ object.created_by.first_name }} {{ object.created_by.last_name }}</label>
            <label class="d-block mb-3">Skapad datum - {{ object.created_at|date:'Y-m-d H:i' }}</label>
            <label class="d-block mb-3">Senast ändrad - {{ object.updated_at|date:'Y-m-d H:i' }}</label>
            <label class="d-block mb-3">Webbsida - <a href="{{ object.web_address }}" target="_blank">{{ object.web_address }}</a></label>


            <label class="d-block mb-3">Kommentar</label>
            <textarea class="form-control mb-3" style="height: 100pt; background-color:#FFF; resize: none;" readonly>{{ object.comment }}</textarea>

            <h4 class="d-inline mb-3">Kontaktpersoner</h4>

            <a type="button" class="btn btn-success ml-3" href="{% url 'contactPerson-create' object.id %}">Lägg till</a>

            <ul class="list-group mt-2 border" style="height: 20em; overflow-y: auto;">
                {% for contact in contacts %}
                    <li class="list-group-item p-2">
                        <a class="float-right btn btn-danger d-inline" href="{% url 'contactPerson-delete' contact.id %}">X</a>
                        <label class="d-inline m-1">{{ contact.name }}</label>
                        <small class="m-1">Telefon {{ contact.phone }}</small>
                        <small class="m-1">Mail {{ contact.email }}</small>
                    </li>
                {% endfor %}
                {% if not contacts %}
                    <label class="mt-5" style="font-size: 22pt; text-align: center;">Saknas</label>
                {% endif %}
            </ul>
        </div>
    </div>
</article>
{% endblock content %}