{% extends "core/base.html" %}
{% block content %}
<div class="content-container border">
    {% include 'common/object_header.html' with object_name="customer" object_label="Kund" object=object %}
    <div class="row pt-4">
        <div class="col">
            {% include 'customers/data_table.html' %}
            {% include 'common/comment.html' %}
        </div>
        <div class="col">
            {% include 'customers/contact_person_table.html' %}
        </div>
    </div>
</div>
{% endblock content %}