{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="form-container border">
    {% if object %}
        {% if contact_person %}
            <h3 class="d-inline">Kontakt person - lägg till</h3>
            <a class="button float-right" href="{% url 'customer-detail' object.id %}">Tillbaka</a>
        {% else %}
            <h3 class="d-inline">Kund - ändra</h3>
            <a class="button float-right" href="{% url 'customer-detail' object.id %}">Tillbaka</a>
        {% endif %}
    {% else %}
        <h3 class="d-inline">Kund - ny</h3>
        <a class="button float-right" href="{% url 'customer-overview' %}">Tillbaka</a>
    {% endif %}
    <div class="border-top mt-3 mb-3"></div>
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            {% if object %}
                <button class="button" type="submit">Spara</button>
            {% else %}
                <button class="button" type="submit">Skapa</button>
            {% endif %}
        </div>
    </form>
</div>
{% endblock  %}