.tbody-content-table {
    display:block;
    height:100pt;
    overflow-y:scroll;
}

thead, tbody, tfoot, tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

thead, tfoot {
    width: calc( 100% - 1em );
}

table, tfoot {
    width:100%;
}

td {
    padding: 2px !important;
}

.add-button {
    font-size: 14pt;
    text-align: center;
    color: white;
    display: block;
}

.add-button:hover {
    text-decoration: none;
    color: black;
}

.delete-button {
    font-size: 14pt;
    text-align: center;
    color: white;
    display: block;
}

.delete-button:hover {
    text-decoration: none;
    color: black;
}
