.tbody-content-table {
    display:block;
    height: 100pt;
    overflow-y:auto;
    background-color: #f7f9fa;
}

tbody, tfoot, tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

thead, tfoot {
    width: calc( 100% - 1em );
}

table.content-table {
    width:100%;
    border: 1px gray solid;
    border-bottom: 2px gray solid;
    border-right: 2px gray solid;
}

tfoot {
    width: 100%;
    border-top: 1px gray solid;
}

table.content-table td {
    padding: 1px !important;
    background-color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table.content-table tr {
    border-bottom: 1px gray solid;
}

.add-button {
    font-size: 14pt;
    text-align: center;
    color: white;
    display: block;
}

.delete-button {
    font-size: 14pt;
    text-align: center;
    color: white;
    display: block;
}

.update-button {
    font-size: 14pt;
    text-align: center;
    color: white;
    display: block;
}

.add-button:hover, .delete-button:hover, .update-button:hover {
    text-decoration: none;
    color: black;
}