tbody {
    display:block;
    height:100pt;
    overflow-y:scroll;
}

thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

thead {
    width: calc( 100% - 1em );
}

table {
    width:100%;
}

.plus-button {
    display: inline-block;
    font-size: 18pt;
    padding: 3pt;
    width: 20pt;
    height: 20pt;
    line-height: 11pt;
    text-align: center;
    background: green;
    color: white;
    border-radius: 4px;
}

.plus-button:hover {
    text-decoration: none;
    color: black;
}

.cross-button {
    display: inline-block;
    font-size: 18pt;
    padding: 3pt;
    width: 15pt;
    height: 15pt;
    line-height: 4pt;
    text-align: center;
    background: red;
    color: white;
    border-radius: 4px;
}

.cross-button:hover {
    text-decoration: none;
    color: black;
}


.add-button {
    font-size: 14pt;
    text-align: center;
    color: white;
    display: block;
}

.add-button:hover {
    text-decoration: none;
    color: black;
}

.delete-button {
    font-size: 14pt;
    text-align: center;
    color: white;
    display: block;
}

.delete-button:hover {
    text-decoration: none;
    color: black;
}
