{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'core/list.css' %}">

<h5>Projekt stadier</h5>
<ul id="state-list" class="custom-list border mb-2" style="height: 200px; overflow-y:scroll;">
    {% for state in state_list %}
    <li class="custom-list-item border-bottom">
        <input class="w-75 form-control d-inline" name="state_value_{{ state.index_position }}" value="{{ state.title }}" maxlength="30">
        <a class="list-button float-right pr-1">X</a>
    </li>
    {% endfor %}
</ul>


<input id="state-input" class="form-control w-75 d-inline" type="text">
<button class="button d-inline" type="button" id="add-state-button">Lägg till stadie</button>

<script>
$(document).ready(function(){
    $("#add-state-button").click(function(){
        var inputValue = $("#state-input").val();
        $("#state-input").val("");
        if (inputValue.length > 2) {
            $("#state-list").append('<li class="custom-list-item border-bottom"><input class="w-75 form-control d-inline" name="state_value" value="' + inputValue + '" maxlength="30"><a class="list-button float-right pr-1">X</a></li>');
             $('.list-button').click(function(){
                var row = $(this).parent();
                row.remove();
            });
        }
    });

    $('.list-button').click(function(){
        var row = $(this).parent();
        row.remove();
    });

});


</script>