{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'core/content_table.css' %}">

<div class="table-content">
<div class="table-header-div">
    <label class="table-header">Produkter</label>
    <a class="btn btn-success btn-sm text-sm-right float-right" href="{% url 'project-product-add' object.id %}">
        Lägg till produkt
    </a>
</div>
<table class="">
    <tbody>
    {% for product_for_project in product_list %}
    <tr>
        <td>{{ product_for_project.product.title }}</td>
        <td>Kostnad - 1250(Saknas)</td>
        <td>Timmar - 120(Saknas)</td>
        <td>Antal - {{ product_for_project.quantity }}</td>
        <td class="delete-column">
            <a class="cross-button" href="{% url 'project-product-delete' product_for_project.id %}">x</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<div class="table-footer-div">
    <label class="table-footer-label">Antal: 0</label>
    <label class="table-footer-label">Kostnad: 100</label>
    <label class="table-footer-label">Timmar: 20</label>
</div>
</div>

{% endblock content %}