{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'core/content_table.css' %}">

<h6>Produkter</h6>
<table class="content-table">
    <thead>
    <tr>
        <td width="35%">Titel</td>
        <td width="20%">Kostnad</td>
        <td width="20%">Arbetstimmar</td>
        <td width="20%">Antal</td>
        <td width="5%" class="p-0 bg-success">
            <a class="add-button" href="{% url 'project-product-add' object.id %}">+</a>
        </td>
    </tr>
    </thead>
    <tbody class="tbody-content-table">
    {% for product in product_list %}
    <tr class="border-bottom">
        <td width="35%">{{ product.title }}</td>
        <td width="20%">{{ product.cost }}</td>
        <td width="20%">{{ product.work_hours }}</td>
        <td width="20%">{{ product.quantity }}</td>
        <td  width="5%" class="p-0 bg-danger">
            <a class="delete-button" href="{% url 'project-product-delete' product.id %}">x</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td>Kostnad: {{ total_material_cost }} {{ currency }}</td>
            <td>Timmar: {{ total_work_hours }}</td>
        </tr>
    </tfoot>
</table>
