{% extends "core/base.html" %}
{% block content %}
<article class="media content-section">
    <div class="">
        {% include 'common/object_header.html' with object_name="product" %}
        {% include 'products/material_list.html' %}
        {% include 'products/work_task_list.html' %}

        <label class="d-inline mb-3">Justera kostnad</label>
        <label class="d-inline mb-3">{{ object.extra_cost }}</label>

        <label class="d-block mb-2 mt-2">Kommentar</label>
        <textarea class="form-control mb-3" style="height: 80pt; background-color:#FFF; resize: none;" readonly>{{ object.comment }}</textarea>
    </div>
</article>
{% endblock content %}