{% extends "core/base.html" %}
{% block content %}
<div class="content-container border">
    {% include 'common/object_header.html' with object_name="product" object_label="Produkt" %}
    <div class="row mt-3">
        <div class="col">
            {% include 'products/data_table.html' %}
            {% include 'products/specification.html' %}
            {% include 'common/comment.html' %}
        </div>
        <div class="col">
            {% include 'products/material_list.html' %}
            {% include 'products/work_task_list.html' %}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <label>Total kostnad: {{ product_summary.total_cost }}  {{ company.currency }}</label>
        </div>
    </div>
</div>
{% endblock content %}