{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'core/content_table.css' %}">

<table class="table table-sm table-bordered">
    <div class="p-1 border">
        Material
    </div>
    <thead>
    <tr>
        <td width="40%">Titel</td>
        <td width="15%">Kostnad</td>
        <td width="20%">Enhet</td>
        <td width="15%">Antal</td>
        <td width="5%" class="p-0 bg-success">
            <a class="add-button" href="{% url 'material-for-product-add' object.id %}">+</a>
        </td>
    </tr>
    </thead>
    <tbody class="tbody-content-table">
    {% for material in material_list %}
    <tr>
        <td width="40%">{{ material.material.title }}</td>
        <td width="15%">{{ material.material.base_cost }}</td>
        {% if material.material.scalable_cost %}
        <td width="20%">{{ material.material.unit_label }} - {{ material.material.unit_cost }}</td>
        <td width="15%">{{ material.units }}</td>
        {% else %}
        <td width="20%">-</td>
        <td width="15%">-</td>
        {% endif %}
        <td width="5%" class="p-0 bg-danger">
            <a class="delete-button" href="{% url 'material-for-product-delete' material.id %}">x</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td>Materialkostnad: {{ total_material_cost }} {{ currency }}</td>
        </tr>
    </tfoot>
</table>
