{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'core/content_table.css' %}">

<h6>Material</h6>
<table class="content-table">
    <thead>
    <tr>
        <td width="30%">Titel</td>
        <td width="15%">Kostnad</td>
        <td width="20%">Enhet</td>
        <td width="15%">Antal</td>
        <td width="55px" class="p-0 bg-success">
            <a class="add-button" href="{% url 'material-for-product-add' object.id %}">+</a>
        </td>
    </tr>
    </thead>
    <tbody class="tbody-content-table">
    {% for material in product_summary.materials %}
    <tr class="border-bottom">
        <td width="30%">{{ material.material.title }}</td>
        <td width="15%">{{ material.material.base_cost }}</td>
        {% if material.material.scalable_cost %}
        <td width="20%">{{ material.material.unit_label }} - {{ material.material.unit_cost }}</td>
        <td width="15%">{{ material.units }}</td>
        {% else %}
        <td width="20%">-</td>
        <td width="15%">-</td>
        {% endif %}
        <td width="55px">
            <div class="row">
                <div class="col bg-warning">
                    <a class="delete-button" href="{% url 'material-for-product-update' material.id %}">u</a>
                </div>
                <div class="col bg-danger">
                    <a class="delete-button" href="{% url 'material-for-product-delete' material.id %}">x</a>
                </div>
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot style="display: block">
        <tr>
            <td>Materialkostnad: {{ product_summary.material_cost }} {{ company.currency }}</td>
        </tr>
    </tfoot>
</table>
