{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'core/content_table.css' %}">

<h6 class="mt-2">Arbetsuppgifter</h6>
<table class="content-table">
    <thead>
    <tr>
        <td width="55%">Titel</td>
        <td width="45%">Antal timmar</td>
        <td width="55px" class="p-0 bg-success">
            <a class="add-button" href="{% url 'work-task-add' object.id %}">+</a>
        </td>
    </tr>
    </thead>
    <tbody class="tbody-content-table">
    {% for work in product_summary.work_tasks %}
    <tr class="border-bottom">
        <td width="55%">{{ work.work_type }}</td>
        <td width="45%">{{ work.work_hours }}</td>
        <td width="55px">
            <div class="row">
                <div class="col bg-warning">
                    <a class="delete-button" href="{% url 'work-task-update' work.id %}">u</a>
                </div>
                <div class="col bg-danger">
                    <a class="delete-button" href="{% url 'work-task-delete' work.id %}">x</a>
                </div>
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td>Arbetstimmar: {{ product_summary.work_hours }}</td>
            <td>Arbetskostnad: {{ product_summary.work_cost }}  {{ company.currency }}</td>
        </tr>
    </tfoot>
</table>
