{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'core/content_table.css' %}">

<table class="table  table-bordered">
    <div class="p-1 border">
        Arbetsuppgifter
    </div>
    <thead>
    <tr>
        <td width="55%">Titel</td>
        <td width="35%">Antal timmar</td>
        <td width="5%" class="p-0 bg-success">
            <a class="add-button" href="{% url 'work-task-add' object.id %}">+</a>
        </td>
    </tr>
    </thead>
    <tbody class="tbody-content-table">
    {% for work_task in work_task_list %}
    <tr>
        <td width="55%">{{ work_task.title }}</td>
        <td width="35%">{{ work_task.work_hours }}</td>
        <td width="5%" class="p-0 bg-danger">
            <a class="delete-button" href="{% url 'work-task-delete' work_task.id %}">x</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td>Arbetstimmar: {{ work_tasks_hours }}</td>
            <td>Arbetskostnad: {{ work_cost }}  {{ currency }}</td>
        </tr>
    </tfoot>
</table>
